<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Aurora Main</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auroramain.css' %}"> <!-- CSS 파일 연결 -->
</head>
<body>
    <!-- 상단 바 (username & 로그아웃 버튼) -->
    <div class="top-bar">
        <span class="username">{{ username }}</span>
        <button class="logout-btn" onclick="location.href='/users/logout/'">로그아웃</button>
        
    </div>

    <!-- 중앙 auroraworld_task -->
    <h1 class="title">auroraworld_task</h1>

    <!-- 웹 링크 추가 박스 -->
    <div class="feed-box">
        <input type="text" id="webLinkName" placeholder="웹 링크 이름">
        <input type="text" id="webLink" placeholder="웹 링크 URL">
        <select id="webLinkCategory">
            <option value="개인 즐겨찾기">개인 즐겨찾기</option>
            <option value="업무 활용 자료">업무 활용 자료</option>
            <option value="참고 자료">참고 자료</option>
            <option value="교육 및 학습 자료">교육 및 학습 자료</option>
            <option value="기타">기타</option>
        </select>
        <div class="buttons">
            <button class="add-btn" onclick="addLink()">등록</button>
        </div>
        <div class="buttons">
            <button class="view-links-btn" onclick="location.href='/feedmanager/all_links_page/'">내 웹 링크 보기</button>
        </div>

    </div>

    <script src="{% static 'js/auroramain.js' %}"></script> <!-- JavaScript 파일 연결 -->
</body>
</html>
